<div id="main-container" data-controller="display">
  <div class="btn-container">
    <div class="category" id="dining">
      <h1>Visit New Castle County Delaware</h1>
      <div id="weather-container">
        <h2 id="weatherHead">Current Weather</h2>
        <p id="temp" data-display-target="temp"></p>
        <p id="rain" data-display-target="rain"></p>
      </div>
      <button data-action="click->display#displayFetchOptions"
              data-url="/api/restaurants"
              class="button-52"
              role="button"
              data-display-target="button">
        Dining
      </button>
      <div class="options">
        <ul data-display-target="container" data-options-visible="false"></ul>
      </div>
    </div>
  </div>

  <div class="option-details" data-display-target="details"></div>

  <div class="itineraryList" id="itineraryListContainer">
    <h1>My Itinerary</h1>
    <ul id="itineraryList" data-display-target="itinerary"></ul>
  </div>
</div>
